@keyframes slow-turn {
  from {
    transform: rotateX(-30deg) rotate3d(0, 1, 0, 0);
  }
  to {
    transform: rotateX(-30deg) rotate3d(0, 1, 0, 360deg);
  }
}

.scene {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slow-turn 30s linear infinite;
}

.scene * {
  position: absolute;
}

.grass {
  width: 800px;
  height: 800px;
  background-color: #47ca6e;
  transform: translate3d(0, 50px, 0) rotate3d(1, 0, 0, 90deg);
}

.house {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.wall {
  width: 200px;
  height: 100px;
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  background-color: lightpink;
}

.front-wall {
  transform: translate3d(0, 0, 100px);
}

.rear-wall {
  transform: translate3d(0, 0, -100px);
}

.right-wall {
  outline: none;
  transform: translate3d(100px, 0, 0) rotateY(90deg);
}

.left-wall {
  outline: none;
  transform: translate3d(-100px, 0, 0) rotateY(90deg);
}

.roof-side {
  width: 0;
  height: 0;
  /* border-left and border-right determine the width */
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  /* border-bottom determines the height */
  border-bottom: 50px solid lightpink;
}

.left-roof-side {
  transform: translate3d(-100px, -75px, 0) rotate3d(0, 1, 0, 90deg);
}
.right-roof-side {
  transform: translate3d(100px, -75px, 0) rotate3d(0, 1, 0, 90deg);
}

.roof {
  height: 112px;
  transform-origin: 0 0 0;
  background-color: #a86335;
}

.front-roof {
  transform: translate3d(0, -44px, 0) rotateX(63.435deg);
}

.rear-roof {
  transform: translate3d(0, -44px, 0) rotateX(-63.435deg);
}

.door {
  width: 40px;
  height: 70px;
  background-color: rgb(218, 121, 121);
  transform: translate3d(0, 15px, 100px);

  transform-style: preserve-3d;

  border: 2px solid rgba(0, 0, 0, 0.473);
}

.window {
  width: 10px;
  height: 10px;
  background-color: lightblue;
  border: 2px solid rgba(0, 0, 0, 0.466);
}

.door-window {
  top: 5px;
  left: 5px;
}

.door-window:nth-child(n + 2) {
  top: 5px;
  left: 20px;
}

.door-window:nth-child(n + 3) {
  top: 20px;
  left: 5px;
}

.door-window:nth-child(n + 4) {
  top: 20px;
  left: 20px;
}

.door-window:nth-child(n + 5) {
  top: 35px;
  left: 5px;
}

.door-window:nth-child(n + 6) {
  top: 35px;
  left: 20px;
}
