@keyframes rotationY360 {
  from {
    transform: rotateX(0) rotateY(720deg) rotateZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(0) rotateZ(360deg);
  }
}

.cube {
  width: 500px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  transform-style: preserve-3d;

  animation: rotationY360 10s infinite;
  animation-timing-function: linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  display: grid;
  place-content: center;

  outline: 5px solid black;
  outline-offset: -5px;
}

.face-text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  opacity: 0.8;
}

.front-face {
  background-color: red;
  transform: translateZ(100px);
}

.left-face {
  background-color: blue;
  transform: translateX(-100px) rotateY(-90deg);
}

.right-face {
  background-color: green;
  transform: translateX(100px) rotateY(90deg);
}

.rear-face {
  background-color: wheat;
  transform: translateZ(-100px) rotateY(180deg);
}

.top-face {
  background-color: cornflowerblue;
  transform: translateY(-100px) rotateX(90deg);
}

.bottom-face {
  background-color: darksalmon;
  transform: translateY(100px) rotateX(90deg);
}
